body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;

}

.f1 {
    width: 300px;
    margin: 0 auto;
   margin-top: 20px;
    background: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form.f1 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form.f1 input[type="text"],
form.f1 input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

form.f1 input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

form.f1 input[type="submit"]:hover {
    background-color: #0056b3;
}

   table {
       width: 100%;
       border-collapse: collapse;
   }

   table,
   th,
   td {
       border: 1px solid black;
   }

   th,
   td {
       padding: 8px;
       text-align: left;
   }

   th {
       background-color: #f2f2f2;
   }